Exercise two of “Apache Spark for Scalable Machine Learning on BigData”. The basics of functional and parallel programming. 

Again, please use the following two links for your reference:
https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD
https://spark.apache.org/docs/latest/rdd-programming-guide.html

Let’s actually create a python function which decides whether a value is greater than 50 (True) or not (False).

In [1]:
def gt50(i):
    if i > 50:
        return True
    else:
        return False

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200105085954-0000
KERNEL_ID = 613b7c4f-1531-457d-814b-575ca9f62d97

In [2]:
print(gt50(4))
print(gt50(51))

False
True

Let’s simplify this function

In [3]:
def gt50(i):
    return i > 50

In [4]:
print(gt50(4))
print(gt50(51))

False
True

Now let’s use the lambda notation to define the function.

In [5]:
gt50 = lambda i: i > 50

In [6]:
print(gt50(4))
print(gt50(51))

False
True

In [7]:
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

Let’s filter values from our list which are equals or less than 50 by applying our “gt50” function to the list using the “filter” function. Note that by calling the “collect” function, all elements are returned to the Apache Spark Driver. This is not a good idea for BigData, please use “.sample(10,0.1).collect()” or “take(n)” instead.

In [8]:
rdd.filter(gt50).take(10)

[54, 90, 57, 69, 59, 76, 94, 95, 71, 82]

We can also use the lambda function directly.

In [15]:
rdd.filter(lambda i: i > 50).collect()

[54,
 90,
 57,
 69,
 59,
 76,
 94,
 95,
 71,
 82,
 97,
 83,
 80,
 51,
 81,
 79,
 93,
 67,
 88,
 66,
 89,
 61,
 68,
 58,
 92,
 78,
 70,
 86,
 73,
 75,
 99,
 56,
 55,
 52,
 63,
 64,
 98,
 77,
 84,
 91,
 74,
 60,
 65,
 87,
 72,
 85,
 62,
 96,
 53]

Let’s consider the same list of integers. Now we want to compute the sum for elements in that list which are greater than 50 but less than 75. Please implement the missing parts.

In [14]:
rdd.filter(lambda i: i > 50 & i < 75).sum()

4750

You should see "4750" as answer. Now we want to know the sum of all elements. Please again, have a look at the API documentation and complete the code below in order to get the sum.

In [16]:
rdd.reduce(lambda a, b : a+b)

4950